table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    
}
table img{
    width:60px;
}
h1{
    text-align: center;}
   
#dong1{
    background-color: bisque;

}

button img{
    width: 17px;
}
