div.static {
    background-color: pink;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: relative;
}
p.p01{
    background-color: blanchedalmond;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 65px;
    top: 65px;
}

/* .fixed {
    background-color: blue;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: absolute;
    top: 70px;
    left: 65px;
}

.absolute {
    background-color: yellowgreen;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: relative;
} */